@model Game
@{
    ViewBag.Title = "Редактирование продукта";
}
<form asp-action="GameEdit" asp-controller="Admin">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input asp-for="Price" type="number" step=".01" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="SalePrice" class="control-label">Sale price (optional)</label>
        <input asp-for="SalePrice" type="number" step=".01" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <textarea type="text" asp-for="Description" class="form-control" required></textarea>
    </div>
    <partial>
        @{Html.RenderPartial("GenresPartial");}
    </partial>
    <!-- <div class="form-group">
         <label asp-for="GenreId" class="control-label">Цена</label>
         <textarea type="text" asp-for="GenreId" class="form-control" />
     </div> -->
    <div class="form-group">
        <input type="submit" value="SAVE" class="btn btn-default" />
    </div>
</form>
