# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Playstore.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\liana\Documents\GitHub\Gaming-Site\Playstore\.idea\.idea.Playstore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
