@model IEnumerable<Game>
@{
    ViewBag.Title = "Все игры";
}
<a asp-action="Create">Добавить игру</a>
<table class="table">   
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td><!--<td>Genre.Name.Where(Genre.Id = item.GenreId)</!--td>-->
        <td>@item.Description</td>
            <td>@item.Price</td>
    </tr>
    }
</table>