<footer class="wrap">
    <div class="container">
        <div class="row equal-height">
            <div class="col col-sm-12 col-md-9 footnav" style="min-height: 249px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="spotlight footnav1 row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="module">
                                    <div class="module-inner">
                                        <div class="module-ct">
                                            <ul class="social-list">
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="vk" href="#">
                                                        <i class="fa fa-vk"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="spotlight footnav2 row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="module">
                                    <div class="module-inner">
                                        <h3 class="module-title">
                                            <span>Information</span>
                                        </h3>
                                        <ul class="module-content">
                                            <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                                            <li><a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                                            <li><a asp-controller="Home" asp-action="Terms_conditions">Term & Conditions</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="module">
                                    <div class="module-inner">
                                        <h3 class="module-title">
                                            <span>My Account</span>
                                        </h3>
                                        <ul class="module-content">
                                            <li><a href="#">My Account</a></li>
                                            <li><a href="#">Order History</a></li>
                                            <li><a href="#">Shopping Cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12 col-md-3 footnav-right" style="min-height: 249px;">
                <div class="module">
                    <div class="module-inner">
                        <h3 class="module-title" id="contact-us-title"><span>Contact Us</span></h3>
                        <div class="module-ct">
                            <div class="contact-us">
                                <h4>Warehouse & Offices</h4>
                                <p>Guildford, Guildford, Surrey, GU1, United Kingdom</p>
                                <h4>Retail Store</h4>
                                <p>Saint Edburghs Road, Birmingham, West Midlands, B25 8YA, United Kingdom</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="copyright">
        <div class="container">
            <div class="footer-copy">
                <small>Copyright © 2021 Gaming Site. All Rights Reserved. Designed by </small>
                <a href="http:\\vk.com\siluwu">Silu Nurbakhtina</a>
            </div>
        </div>
    </section>
</footer>