<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="../image/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/site.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="row">
                    <div class="nav-toggle"><span></span></div>
                    <div class="logo">
                        <div class="logo-image">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img class="logo-img" src="../image/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="head-right">
                        <div class="head-language-switcher">
                            <a href="#">
                                <img src="../image/en-flag.jpg" class="en-flag">
                            </a>
                            <a href="#">
                                <img src="../image/ru-flag.jpg" class="ru-flag">
                            </a>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="head-logout">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <input class="register-switch" type="submit" value="Logout" />
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="head-login">
                                <a asp-controller="Account" asp-action="Login">
                                    <input class="register-switch" type="button" value="Sign In" />
                                </a>
                            </div>
                            <div class="head-reg">
                                <a asp-controller="Account" asp-action="Register">
                                    <input class="register-switch" type="button" value="Sign Up" />
                                </a>
                            </div>
                        }
                        <div class="head-cart">
                            <button class="btn btn-cart" type="button">
                                <i class="fa fa-shopping-cart"></i>
                                <p><span class="total-product">0</span></p>
                            </button>
                        </div>
                        <div class="head-search">
                            <form class="search-box" method="POST">
                                <input class="search-txt" name="" type="text" placeholder="Search ...">
                                <a class="search-btn" href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <nav id="mainnav">
            <div class="container">
                <ul id="menu">
                    <li><a href="/Home">Home</a>
                    <li><a asp-controller="Games" asp-action="Index">New Releases</a>
                    <li><a href="">News</a></li>
                    <li class="dropbtn">
                        Shop
                        <i class="fa fa-caret-down"></i>
                        <div id="dropdown-content">
                            <ul class="dropdown-left">
                                <li><a href="">Action</a></li>
                                <li><a href="">Adventure</a></li>
                                <li><a href="">Casual</a></li>
                                <li><a href="">Free To Play</a></li>
                                <li><a href="">Indie</a></li>
                                <li><a href="">Massively Multiplayer</a></li>
                            </ul>
                            <ul class="dropdown-right">
                                <li><a href="">Racing</a></li>
                                <li><a href="">RPG</a></li>
                                <li><a href="">Simulation</a></li>
                                <li><a href="">Sports</a></li>
                                <li><a href="">Strategy</a></li>
                            </ul>
                        </div>
                </ul>
            </div>
        </nav>
        @RenderBody()
        <footer>
            <div class="container">
                <div class="row">
                    <div class="footer-col footer-col-left" style="min-height: 322px;">
                        <div class="footer-col-inner">
                            <div class="col">
                                <div class="social-list">
                                    <a title="Twitter" href="#" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a title="YouTube" href="#" target="_blank">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                    <a title="Vkontakte" href="#" target="_blank">
                                        <i class="fa fa-vk"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="footer-col-inner" id="footer-links">
                            <div class="col">
                                <div class="col-module">
                                    <h3 class="module-title">
                                        <span>Information</span>
                                    </h3>
                                    <ul class="module-content">
                                        <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                                        <li><a>Privacy Policy</a></li>
                                        <li><a href="#">Term & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-module">
                                    <h3 class="module-title">
                                        <span>My Account</span>
                                    </h3>
                                    <ul class="module-content">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Shopping Cart</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-col footer-col-right" style="min-height: 322px;">
                        <div class="footer-col-inner footer-right">
                            <h3 class="module-title" id="contact-us-title"><span>Contact Us</span></h3>
                            <div class="module-content">
                                <div class="contact-us">
                                    <h4>Warehouse & Offices</h4>
                                    <p>Guildford, Guildford, Surrey, GU1, United Kingdom</p>
                                    <h4>Retail Store</h4>
                                    <p>Saint Edburghs Road, Birmingham, West Midlands, B25 8YA, United Kingdom</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="copyright">
                <div class="container">
                    <div class="footer-copy">
                        <small>Copyright © 2021 Gaming Site. All Rights Reserved. Designed by </small>
                        <a href="http:\\vk.com\siluwu">Silu Nurbakhtina</a>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="../js/site.js"></script>
</body>
</html>