<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="../image/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/site.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="row">
                    <div class="nav-toggle"><span></span></div>
                    <div class="logo">
                        <div class="logo-image">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img class="logo-img" src="../image/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="head-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="head-logout">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <input class="register-switch" type="submit" value="Logout" />
                                </form>
                            </div>
                            <div class="head-cart">
                                <a class="btn btn-cart" asp-controller="Account" asp-action="Index">
                                    <i class="fa fa-user"></i>
                                </a>
                            </div>
                            <div class="head-cart">
                                <a class="btn btn-cart" asp-controller="Shop" asp-action="Cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <p><span class="total-product">Х</span></p>
                                </a>
                            </div>
                            <div class="head-search">
                                <form class="search-box" method="get" asp-controller="Home" asp-action="Index">
                                    <input class="search-txt" name="searchString" type="text" placeholder="Search ...">
                                    <a class="search-btn">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="head-login">
                                <a asp-controller="Account" asp-action="Login">
                                    <input class="register-switch" type="button" value="Sign In" />
                                </a>
                            </div>
                            <div class="head-reg">
                                <a asp-controller="Account" asp-action="Register">
                                    <input class="register-switch" type="button" value="Sign Up" />
                                </a>
                            </div>
                            <div class="head-cart">
                                <a class="btn btn-cart" asp-controller="Shop" asp-action="Cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <p><span class="total-product"> </span></p>
                                </a>
                            </div>
                            <div class="head-search">
                                <form class="search-box" method="get" asp-controller="Home" asp-action="Index">
                                    <input class="search-txt" name="searchString" type="text" placeholder="Search ...">
                                    <a class="search-btn">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </header>
        <nav id="mainnav">
            <div class="container">
                <ul id="menu">
                    <li><a asp-controller="Home" asp-action="Index">Home</a>
                    <li><a asp-controller="Games" asp-action="Index">New Releases</a>
                    <li><a asp-controller="News" asp-action="Index">News</a></li>
                    <li class="dropbtn">
                        <a asp-controller="Shop" asp-action="Index" class="dropdown-toggle">Shop<em class="caret"></em></a>
                        <div id="dropdown-content">
                            <ul class="dropdown-left">
                                <li><a asp-controller="Shop" asp-action="Action">Action</a></li>
                                <li><a asp-controller="Shop" asp-action="Adventure">Adventure</a></li>
                                <li><a asp-controller="Shop" asp-action="Casual">Casual</a></li>
                            </ul>
                            <ul class="dropdown-right">
                                <li><a asp-controller="Shop" asp-action="Racing">Racing</a></li>
                                <li><a asp-controller="Shop" asp-action="Rpg">RPG</a></li>
                                <li><a asp-controller="Shop" asp-action="Strategy">Strategy</a></li>
                            </ul>
                        </div>
                </ul>
            </div>
        </nav>
        @RenderBody()
        @await Html.PartialAsync("../Shared/_Footer")
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    
    <script src="../js/site.js"></script>

    <script src="../js/map.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5om6OB5qHiLt-F2KPDLgvClJx9Mv6hdY&callback=initMap&libraries=&v=weekly"></script>


</body>
</html>