<div class="sidebar sidebar-left col col-xs-12 col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
    <div class="module genre-module">
        <h3 class="module-title">
            <span>
                Browse by genre
            </span>
        </h3>
        <div class="module-ct">
            <ul class="genre-menu">
                <li>
                    <div>
                        <a href="">Action</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="">Adventure</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="">Casual</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="">Free To Play</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="">Indie</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="">Massively Multiplayer</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="">Racing</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="">RPG</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="">Simulation</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="">Sport</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="">Strategy</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    @*<div class="module hotgame-module">
            <h3 class="module-title">
                <span>
                    Hot game
                </span>
            </h3>
            <div class="module-ct">
                <div class="spacer">
                    <a href="#" class="feat-prod-img">
                        <img src="~/image/destiny_game.jpg" class="hot-game-img" />
                    </a>
                    <a class="hot-game-title" href="">СУДЬБА БОГОВ</a>
                    <p class="product-desc">
                        Murad is gay gay gay gay gay gay Murad is gay gay gay gay gay ga Murad is gay gay gay gay gay ga
                    </p>
                    <div class="hot-game-link">
                        <a href="" class="btn btn-primary">Product details</a>
                    </div>
                </div>
            </div>
        </div>*@
</div>
