*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.wrapper {
    background: #1b2838;
    position: relative;
    left: 0;
    z-index: 99;
    transition: transform 0.5s;
    overflow: visible;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

h4 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Monsterrat", sans-serif;
    font-weight: 400;
}

p {
    margin: 0 0 10px;
}

textarea {
    width: 100%;
    outline: none;
    -moz-appearance: none;
    border: 4px solid #1b2838;
    overflow: auto;
    resize: none;
    background: rgba(255,255,255,0.05);
    padding: 8px 0 8px 10px;
    height: 150px;
    color: #ffffff;
}

input[type="checkbox"] {
    position: absolute;
}

header {
    padding-top: 20px;
    padding-bottom: 52px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #67c1f5;
}

.homepage header {
    background-color: transparent;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 16px;
}

    .container:after, header:after, footer:after {
        display: table;
        content: "";
        clear: both;
    }

.col-xs-12 {
    width: 100%;
}

img {
    vertical-align: middle;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 2px;
    font-weight: 700;
}

.btn-default {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #333333;
    background: linear-gradient(#ffffff, #f2f2f2);
}

.btn-primary {
    background-color: #67c1f5;
    border-color: #4fb7f3;
    color: #ffffff;
    background: linear-gradient(#67c1f5, #4fb7f3);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.2) inset;
}

input[type="text"]:not(.search-txt), input[type="password"], input[type="email"], select {
    width: 100%;
    display: block;
    padding: 6px 12px;
    color: #f7f7f7;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

option {
    color: #1b2838;
    font-size: 13px;
}

@media (min-width:768px) {
    .container {
        width: 752px
    }

    .col-sm-8, .col-sm-4 {
        float: left;
        width: 33.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .owl-carousel .item .slider-content {
        margin-left: -376px;
        left: 50%;
    }
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .owl-carousel .item .slider-content {
        margin-left: -376px;
        left: 50%;
    }
}

@media (min-width:992px) {
    .container {
        width: 972px
    }

    .owl-carousel .item .slider-content {
        margin-left: -486px;
        left: 50%;
    }
}

@media (max-width: 1199px){
    ul.social-list > li a {
        width: 34px;
        height: 34px;
        line-height: 30px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1152px
    }

    .owl-carousel .item .slider-content {
        margin-left: -576px;
        left: 50%;
    }
}

@media screen and (min-width: 480px) {
    .registration {
        width: 400px;
        margin: 0 auto;
    }

    .login-wrap {
        width: 480px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        text-align: left;
        margin-bottom: 0;
    }

    .registration .form-actions .btn {
        margin-right: 10px;
    }

    .module-title {
        margin-bottom: 20px;
    }

    .module + .module {
        margin-top: 40px;
    }
}

.row {
    margin-right: -16px;
    margin-left: -16px;
}

    .row:before {
        display: table;
        content: " ";
    }

.logo {
    position: relative;
    padding-right: 16px;
    padding-left: 16px;
    width: 33.33333333%;
}

    .logo a {
        display: inline-block;
        line-height: 1;
        margin: 0;
    }

.head-right {
    padding-right: 16px;
    padding-left: 16px;
    width: 66.66666667%;
}

.head-language-switcher {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

.head-cart {
    float: right;
    margin-left: 10px;
}

    .head-cart .btn {
        width: 32px;
        height: 32px;
    }

.head-search {
    float: right;
    position: relative;
}

    .head-search .btn {
        width: 32px;
        height: 32px;
    }

.head-login, .head-reg{
    float: right;
    margin-left: 10px;
}

.head-logout {
    float: right;
    margin-left: 10px;
}

.search-box {
    background: rgba(255, 255, 255, 0.1);
    height: 32px;
    border-radius: 2px;
}

.search-btn {
    color: #ffffff;
    width: 32px;
    height: 32px;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    transition: 0.4s;
    width: 0px;
    padding-top: 7px;
}

    .search-txt::placeholder {
        color: #ffffff;
    }

.search-box:hover > .search-txt {
    width: 200px;
}

.search-btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.head-right .btn {
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    padding: 0;
    display: inline-block !important;
    text-align: center;
    line-height: 32px;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.3s;
}

    .head-right .btn:hover {
        background: rgba(255, 255, 255, 0.3);
        color: #ffffff;
        border: none;
    }

    .head-right .btn:focus {
        border: none;
    }

.total-product {
    position: absolute;
    padding: 4px 5px;
    top: -10px;
    right: -10px;
    background: #9cc509;
    border-radius: 50%;
    line-height: 1;
    font-size: 10px;
}

p .total-product {
    color: #ffffff;
}

.register-switch {
    background: linear-gradient(#ffffff, #dddddd);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    color: #999999;
    display: inline-block !important;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    z-index: 1000;
    border: none;
    cursor: pointer;
}

    .register-switch:hover {
        background: #ffffff;
    }

.ru-flag {
    margin-left: 5px;
}
/*штуки чтоб меню сворачивалось-----------------------*/
/*input[type="checkbox"] {
    display: none;
}
nav label{
    display:none;
}

@media only screen and (max-width: 500px) {

    nav label {
        display: inline-block;
    }

    nav > ul {
        display: none;
    }

    input[type="checkbox"]:checked ~ label + ul {
        display: block;
    }
}*/
/*----------------------------------------------------*/
#mainnav {
    background-color: #131c27;
    margin-top: -32px;
    min-height: 64px;
    margin-bottom: 0px;
    overflow: hidden;
}

    #mainnav .navbar {
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1);
    }

.navbar {
    background-color: #131c27;
    border-radius: 2px;
    text-align: center;
    padding: 0;
}

#menu {
    text-align: center;
    background-color: rgb(19, 28, 39);
    margin-bottom: 0;
}

    #menu > li:first-child {
        border-radius: 2px 0 0 2px;
        box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
    }

    #menu > li {
        display: inline-block;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }

        #menu > li > a {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 13px;
            font-family: "Monsterrat", sans-serif;
            font-weight: 400;
            letter-spacing: 0.5px;
            background: linear-gradient(#182331, #0f1720);
            padding-top: 22px;
            padding-bottom: 22px;
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;
        }

            #menu > li > a:hover{
                background: rgb(19, 28, 39);
            }

        #menu > li > a {
            position: relative;
            display: block;
            line-height: 20px;
        }

#mainnav > .dropdown > .dropdown-toggle .caret {
    display: inline-block;
}

#mainnav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

#dropdown-content {
    position: absolute;
    z-index: 1;
    min-width: 0;
    background: rgba(32, 46, 62, 0.8);
    cursor: auto;
    display: none;
    overflow: hidden;
    padding: 20px 10px 20px 10px;
}

    #dropdown-content li a {
        color: #ffffff;
        opacity: 0.5;
        font-size: 13px;
        text-transform: none;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    #dropdown-content a:hover {
        color: #ffffff;
        opacity: 1
    }

.dropdown-left {
    float: left;
}

.dropdown-right {
    float: right;
}

.dropbtn:hover #dropdown-content {
    display: block;
}

.nav-toggle {
    display: none;
    position: relative;
    float: left;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    width: 32px;
    height: 32px;
    left: 200px;
    top: 100px;
    line-height: 32px;
    cursor: pointer;
}

    .nav-toggle span {
        position: absolute;
        top: 14px;
        left: 10px;
        right: 10px;
        height: 2px;
        background: #ffffff;
    }

        .nav-toggle span:before, .nav-toggle span:after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background: #ffffff;
        }

        .nav-toggle span:before {
            top: -5px;
        }

        .nav-toggle span:after {
            bottom: -5px;
        }

    .nav-toggle:hover {
        background: rgba(255, 255, 255, 0.5);
    }

#menu.active {
    max-width: 123px;
}

.slideshow {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

    .slideshow .owl-carousel {
        cursor: move;
        padding: 0;
        overflow: hidden;
    }

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper {
    position: relative;
}

    .owl-carousel .owl-wrapper::after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

.owl-carousel .item .slider-thumb {
    width: auto;
}

.owl-carousel .item {
    position: relative;
    overflow: hidden;
}

    .owl-carousel .item .img-header-top {
        background-size: cover;
        background-position: top center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 112px;
        filter: blur(10px);
    }

    .owl-carousel .item .img-header {
        background-size: cover;
        background-position: top center;
        min-height: 1070px;
    }

    .owl-carousel .item .slider-content {
        color: #ffffff;
        text-align: left;
        position: absolute;
        z-index: 2;
        bottom: 400px;
        padding: 0 16px;
        height: auto;
        display: block;
        transition: margin-left 350ms;
    }

.owl-carousel .owl-controls {
    margin: 0 auto;
    z-index: 1;
}

.owl-carousel .owl-dots {
    bottom: 600px;
    right: 20px;
    width: 26px;
    position: absolute;
    text-align: center;
}

    .owl-carousel .owl-dots .owl-dot {
        display: inline-block;
    }

        .owl-carousel .owl-dots .owl-dot span {
            background: #ffffff !important;
            border-radius: 20px;
            display: block;
            height: 12px;
            margin: 5px 7px;
            width: 12px;
            opacity: 0.5;
        }

        .owl-carousel .owl-dots .owl-dot.active span {
            background-color: #67c1f5 !important;
            opacity: 1;
        }

.owl-carousel .item .slider-content .item-title {
    margin-top: 0;
    position: relative;
    color: #ffffff;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Monsterrat", sans-serif;
    line-height: normal;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.img-header-bottom {
    background-position: bottom center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    filter: blur(10px);
}

.img-header-bottom-mask {
    background: linear-gradient(transparent, #1b2838);
    bottom: 0;
    height: 300px;
    width: 100%;
    position: absolute;
}

/*главная страница блок*/

.slideshow + #mainbody {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 600px;
}

.one-sidebar-left .content {
    padding-left: 32px;
}

.featured-view h4 {
    margin-top: -58.57142858px;
}

.featured-view h4 {
    background: transparent;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 20px 32px 20px 0;
    text-transform: uppercase;
}

    .featured-view h4 span {
        position: relative;
        display: inline-block;
    }

        .featured-view h4 span:before {
            content: "";
            border-top: 1px solid #67c1f5;
            box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
            width: 100%;
            height: 0;
            position: absolute;
            top: -21px;
            left: 0;
        }

.featured-view .spacer {
    background: transparent;
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25) inset;
    transition: box-shadow 350ms;
    padding: 20px;
    position: relative;
}

    .featured-view .spacer:hover {
        box-shadow: 0 0 4px #4d729f;
    }

    .featured-view .spacer:before {
        background: rgba(255,255,255,0.05);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.5;
    }

.featured-view .vm-product-media-container {
    margin: -20px -20px 20px;
    max-width: none;
}

.featured-view .spacer .browseProductImage {
    max-height: none;
    max-width: 100%;
}

.vm-product-media-container {
    text-align: center;
}

.vm-product-descr-container {
    min-height: 0;
    margin-bottom: 6px;
}

    .vm-product-descr-container h2 {
        font-size: 16px;
        text-align: left;
    }

        .vm-product-descr-container h2 a {
            color: #ffffff;
        }

.platforms-field {
    color: #ffffff;
    opacity: 0.5;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
}

    .platforms-field span {
        margin-left: 5px;
        font-size: 13px;
        color: #666;
    }

        .platforms-field span i {
            margin-right: 5px;
        }

.product-desc {
    color: #ffffff;
    height: auto;
    margin-bottom: 20px;
    text-align: left;
    min-height: 62px;
    opacity: 0.5;
}

.product-price-block {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: left;
    min-height: 42px;
}

    .product-price-block .price-block {
        margin-bottom: 6.66666667px;
        display: block;
    }

        .product-price-block .price-block .price-desc {
            text-align: left;
            min-width: 16px;
            margin: 0 12px 3px 0;
        }

        .product-price-block .price-block span {
            font-size: 14px;
            font-weight: 600;
            color: #ffffff;
        }

    .product-price-block .base-price .base-price-val {
        color: #ffffff;
        text-decoration: line-through;
        opacity: 0.5;
    }

    .product-price-block .sale-price .sale-price-val {
        color: #669900;
    }

.addtocart-bar {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    margin: 0 0 4px;
    line-height: 14px;
}

    .addtocart-bar span {
        font-size: 13px;
        color: #666;
    }

    .addtocart-bar .addtocart-button input {
        border-radius: 3px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        padding: 6px 10px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
        background: linear-gradient(#182331,#182331);
        border: 1px solid #182331;
        box-shadow: none;
        color: #ffffff;
        cursor: pointer;
        line-height: 20px;
    }

        .addtocart-bar .addtocart-button input:hover {
            background: linear-gradient(#67c1f5,#7fcbf7);
            border: 1px solid #67c1f5;
            box-shadow: none;
            color: #ffffff;
        }

.spacer .vm-product-descr-container > h2 a:hover {
    color: #1fa4f0;
}

.horizontal-separator {
    height: 32px;
    margin: 0;
}

.sidebar-left {
    border-right: 1px solid rgba(255,255,255,0.1);
    padding-right: 32px !important;
}

@media only screen and (max-width: 600px) {
    .sidebar-left {
        display: none;
    }
}
.module {
    background: transparent;
    color: inherit;
}

.module-title {
    background: transparent;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin: 0 0 10px 0;
    padding: 20px 32px 20px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    text-transform: uppercase;
}

    .module-title span {
        position: relative;
        display: inline-block;
    }

.sidebar-left .module-title span:before {
    content: "";
    border-top: 1px solid #67c1f5;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 0;
    position: absolute;
    top: -21px;
    left: 0;
}

.module-ct ul li + li {
    padding-top: 10px;
}

.module-ct ul li a {
    color: #ffffff;
}

    .module-ct ul li a:hover {
        color: #1fa4f0;
    }

.sidebar .module + .module .module-title {
    border-top: 1px solid rgba(255,255,255,0.1);
}

.hotgame-module .module-title {
    margin-bottom: 0px;
}

.hotgame-module .module-ct {
    border: 1px solid rgba(255,255,255,0.1);
    border-top: 0;
    padding: 20px;
}

.feat-prod-img {
    margin: -20px -20px 20px;
    display: block;
}

.hot-game-img {
    max-width: 100%;
}

.hot-game-link {
    margin-top: 20px;
}

.hot-game-title {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "Montserrat",sans-serif;
    text-align: left;
    color: #ffffff;
    display: block;
}

    .hot-game-title:hover {
        color: #ffffff;
    }

/*конец главной страницы*/

/*страница новые релизы*/

.wrap {
    width: auto;
    clear: both;
}

.masthead {
    position: relative;
    height: 280px;
}

    .masthead .ja-masthead {
        margin: 0 auto;
        padding: 0 16px;
    }

.ja-masthead:before {
    background-color: #000;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    z-index: 3;
    height: 280px;
}

.ja-masthead {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.masthead .ja-masthead #masthead-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    height: 280px;
}

.masthead .ja-masthead .masthead-detail {
    vertical-align: bottom;
    text-align: left;
    color: #fff;
    padding: 40px 0;
    max-width: 980px;
    position: relative;
    z-index: 20;
    padding: 150px 0 40px;
}

.masthead .ja-masthead .masthead-title {
    color: #ffffff;
    display: inline-block;
    font-size: 42px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
    margin: 0;
}

.masthead .ja-masthead .masthead-desc {
    margin-top: 10px;
}

.masthead + .mainbody {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.content {
    margin-bottom: 58.57142858px;
}

.item-leading .leading {
    background: transparent;
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25) inset;
    position: relative;
    transition: box-shadow 350ms;
    margin-bottom: 40px;
    padding: 32px;
}

    .item-leading .leading:hover {
        box-shadow: 0 0 4px #4d729f;
    }

    .item-leading .leading:before {
        background: rgba(255,255,255,0.05);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.5;
    }

    .item-leading .leading .item-image {
        margin: -32px -32px 20px;
        float: none !important;
    }

        .item-leading .leading .item-image img {
            max-width: 100%;
        }

.article-title {
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 16px;
}

    .article-title a {
        color: #ffffff;
        font-size: 20px;
    }

.article-aside {
    color: #999999;
    font-size: 13px;
    margin-bottom: 20px;
}

    .article-aside .fa {
        color: #999999;
    }

.article-info {
    margin: 0;
}

    .article-info dd {
        display: inline-block;
        margin-left: 0;
        margin-right: 10px;
        white-space: nowrap;
    }

.article-intro {
    opacity: 0.5;
}

.readmore {
    margin-top: 20px;
}

.pagination > li + li a {
    margin-left: 10px;
}

.pagination > li > a:hover {
    background-color: rgba(255,255,255,0.2);
}

.pagination li a {
    border-radius: 2px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    padding: 6px 12px;
    background-color: rgba(255,255,255,0.1);
}

/*регистрация*/

.registration {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

    .registration legend {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        color: white;
        display: inline-block;
        font-size: 13px;
        line-height: 1;
        padding: 20px 32px;
        position: relative;
    }

    .registration .control-group {
        padding: 0 32px;
    }

legend + .control-group {
    margin-top: 20px;
}

.control-group {
    margin-bottom: 10px;
}

.login-wrap form .form-group .control-label label {
    color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    opacity: 0.5;
}

.red {
    color: #ffcc00;
}

.registration .form-actions {
    background: none;
    padding: 32px;
    margin: 0;
}

.login-wrap .page-header {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 0;
    font-size: 13px;
    margin: 0;
    padding: 20px 32px;
}

.page-header h1 {
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin: 0;
    text-transform: uppercase;
}

    .page-header h1 span::before {
        content: "";
        border-top: 1px solid #67c1f5;
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 0;
        position: absolute;
        left: 0;
        top: -21px;
    }

.login-wrap .login {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 32px;
}

.login-wrap .form-group + .form-group {
    margin-top: 20px;
}

.login-wrap form .form-group .checkbox {
    padding: 0;
    min-height: auto;
    position: relative;
    display: block;
}

    .login-wrap form .form-group .checkbox label {
        display: inline-block;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 500;
        font-size: 12px;
        min-height: 20px;
        cursor: pointer;
        padding-left: 20px;
    }

    .login-wrap form .form-group .checkbox input {
        margin-top: 1px;
        position: absolute;
        margin-left: -20px;
    }
.login-wrap .form-group .col-sm-12 .btn{
    width: 100%;
}
.login-wrap .form-group .btn-wrap{
    margin-top: 10px;
}


.login-wrap .other-links a {
    color: #ffffff;
    opacity: 0.5;
    font-size: 12px;
}
.login-wrap .form-group .btn-outline-dark:focus, .login-wrap .form-group .btn-outline-dark:hover{
    color: #000000;
}
/* конец страницы логина */


/* -----------------------------------------------------------
    -------------------------USER PROFILE--------------------
---------------------------------------------------------*/


.module-left-side-content {
    float: left;
    width: 20%;
    margin-left: 30px;
}
.module-right-side-content {
    float: right;
    width: 75%;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 15px;
}
.module-profile-content {
    float: left;
    width: 55%;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
    .module-profile-content .username {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
.user-reviews{
    float: right;
    width: 40%;
    margin-left: 10px;
}
    .user-reviews .list-reviews .normal {
        border: 1px solid rgba(255,255,255,0.1);
        border-radius: 0;
        padding: 12px;
        margin-bottom: 8px;
    }
        .user-reviews .list-reviews .normal blockquote {
            background: rgba(255,255,255,0.05);
            padding: 20px;
        }

.user-info-fields{
    float: left;
    width: 65%;
}
.fav-game {
    float: right;
    width: 35%;
}
.fav-game p, .user-reviews .list-reviews p{
    font-size: 16px;
    text-transform: uppercase;
}

.avatar-module img {
    max-width: 100%;
}

.avatar-module button {
    margin-top: 15px;
}

.user-info {
    overflow: auto;
    margin-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.user-info .info-field{
    margin-top: 15px;
}


/* -----------------------------------------------------------
    -------------------------USER PROFILE END--------------------
---------------------------------------------------------*/




/* -----------------------------------------------------------
    -------------------------GAME PROFILE--------------------
---------------------------------------------------------*/

.product-container .product-media-container {
    float: left;
    width: 50%;
    text-align: center;
    max-width: 100%;
    margin-bottom: 15px;
}

    .product-container .product-media-container img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

.product-container .product-details-container {
    box-sizing: border-box;
    padding-left: 20px;
    float: right;
    width: 45%;
}

    .product-container .product-details-container h1 {
        font-size: 24px;
        margin-top: 0;
    }

    .product-container .product-details-container .product-price-block {
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 0;
        float: none;
        padding-top: 20px;
        padding-bottom: 0;
        text-align: left;
        line-height: 18px;
    }

.rating-mini {
    display: inline-block;
    font-size: 0;
}

    .rating-mini span {
        padding: 0;
        font-size: 14px;
        line-height: 1;
        color: lightgrey;
    }

    .rating-mini > span:before {
        content: '★';
    }

    .rating-mini > span.active {
        color: gold;
    }

.product-details-container .product-short-desc {
    line-height: 1.8;
    margin: 0 0 16px;
}

.product-fields-title-wrapper {
    min-width: 160px;
    font-weight: bold;
    padding: 8px 0;
}

.productdetails-tabs {
    margin-top: 32px;
}

.nav-tabs {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    margin-bottom: 32px;
}

    .nav-tabs .nav-link {
        border-top: 1px solid rgba(255,255,255,0.1);
        border-right: 1px solid rgba(255,255,255,0.1);
        border-radius: 0;
        color: inherit;
        font-size: 13px;
        font-weight: 400;
        font-family: "Montserrat",sans-serif;
        letter-spacing: 0.5px;
        margin: 0;
        padding: 20px 32px;
        text-transform: uppercase;
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus {
        border-color: #67c1f5 rgba(255,255,255,0.1) transparent transparent;
        color: inherit;
        cursor: default;
        background-color: transparent;
    }

.customer-reviews {
    margin: 25px 0 0;
}

.list-reviews {
    margin-top: 20px;
}

.productdetails-tabs .customer-reviews .list-reviews .normal {
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 0;
    padding: 12px;
    margin-bottom: 8px;
}

.productdetails-tabs .customer-reviews .list-reviews span.date {
    border: 0;
    border-left: 1px solid rgba(255,255,255,0.1);
    color: #ffffff;
    padding: 0 0 0 10px;
    right: auto;
    top: auto;
    float: right;
    font-size: 10px;
}
.productdetails-tabs .customer-reviews .list-reviews .rating-mini{
    float: right;
    margin-right: 10px;
}
.productdetails-tabs .customer-reviews .list-reviews blockquote {
    overflow: hidden;
    width: 100%;
    margin-top: 12px;
    font-size: 12px;
    word-wrap: break-word;
    background: rgba(255,255,255,0.05);
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #67c1f5;
    box-sizing: border-box;
}
.list-reviews .normal blockquote:before {
    content: open-quote;
    font-weight: 700;
    font-size: 24px;
    padding-right: 6px;
}

.list-reviews .normal blockquote:after {
    content: close-quote;
    font-weight: 700;
    font-size: 24px;
    padding-left: 6px;
}

.list-reviews .leave-review{
    margin-top: 50px;
    padding-top: 50px;
}
.list-reviews .leave-review p{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}


/* -----------------------------------------------------------
    -------------------------GAME PROFILE END--------------------
---------------------------------------------------------*/




    /*-------------------------------------------
    ------ABOUT PAGE--------------------------
-------------------------------------------------*/


    #map {
    height: 400px;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
.about, .terms, .privacy {
    text-align: center;
    margin-top: 50px;
    background-image: radial-gradient(ellipse farthest-side, rgba(0, 111, 255, 0.15), transparent);
}
    .about p {
        font-size: 15px;
        max-width: 35%;
        margin-left: auto;
        margin-right: auto;
    }
    .terms p, .privacy p {
        font-size: 15px;
        max-width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    .about i {
        font-size: 1.75rem;
        margin-bottom: 40px;
    }
    .about h3, .terms h3, .privacy h3 {
        font-weight: 700;
        text-transform: uppercase;
    }
    .about .about-header{
        margin-bottom: 40px;
        margin-top: 15px;
    }

/*-------------------------------------------
    ------ABOUT PAGE END--------------------------
-------------------------------------------------*/



/* -----------------------------------------------------------
    -------------------------NEWS ITEM PAGE--------------------
---------------------------------------------------------*/


.item-page .item-image{
    margin-bottom: 20px;
}
.item-page .item-image img{
    max-width: 100%;
}


/* -----------------------------------------------------------
    -------------------------NEWS ITEM PAGE END--------------------
---------------------------------------------------------*/


/* -----------------------------------------------------------
    -------------------------CART PAGE--------------------
---------------------------------------------------------*/

.cart-summary tr td {
    border: 1px solid #ddd;
    background: rgba(255,255,255,0.05);
    border-color: rgba(255,255,255,0.1);
    padding: 5px 8px;
    vertical-align: middle;
}
span.cart-image img {
    margin-right: 10px;
    width: 150px;
}
.cart-summary .cart-item-name a, .cart-item-price span{
    color: #ffffff;
    font-size: 20px;
}
.cart-summary .cart-item-delete i{
    font-size: 23px;
}
.cart-summary .cart-item-delete button{
    background-color: transparent;
    background: none;
    border: none;
}
    .cart-summary .cart-item-delete button:hover, .cart-summary .cart-item-delete button:focus {
        background-color: #67c1f5;
    }

.cart-item-price, .cart-item-delete {
    text-align: center;
}
.cart-total{
    margin-top: 20px;
}
.total-price-block{
    float: right;
}



    /* -----------------------------------------------------------
    -------------------------CART PAGE END--------------------
---------------------------------------------------------*/


.account .fa{
    heigh
}


    /*---------------------------------------------------
 ------------------футер начало----------------------
    ------------------------------------------------*/

    footer {
    background: #131c27;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #7a828b;
}

    footer::before, footer::after {
        content: '';
        display: table;
    }

    footer > .container {
        padding-bottom: 0;
        padding-top: 80px;
    }
    .footnav{
        text-align: center;
    }

.spotlight {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 0;
    margin-right: 0;
}

.footnav1{
    border-bottom: 0;
}

.footnav .module {
    background: #131c27;
    color: #7a828b;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footnav .module .module-inner{
    padding: 0;
}
.module-ct {
    background: transparent;
    color: inherit;
    padding: 0;
}
.footnav .module ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
}
    .footnav .module ul > li{
        line-height: 24px;
    }
        .footnav .module ul > li > a {
            color: #ffffff;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            opacity: 0.5;
        }
            .footnav .module ul > li > a:hover, .footnav .module ul > li > a:focus {
                color: #ffffff;
                background: none;
                opacity: 1;
            }
        ul.social-list > li{
            display: inline-block;
        }
            ul.social-list > li + li {
                margin-left: 10px;
            }
            ul.social-list > li a {
                border: 2px solid rgba(255,255,255,0.1);
                display: inline-block;
                position: relative;
                text-align: center;
                width: 40px;
                height: 40px;
                line-height: 36px;
            }
                ul.social-list > li a:hover, ul.social-list > li a:focus {
                    border-color: #67c1f5;
                }

.footnav .module ul > li + li{
    margin-top: 10px;
}
.footnav .module ul.social-list > li + li {
    margin-top: 0px;
}

.fa {
    color: #ffffff;
}

.footnav .module .module-title {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 0;
    border-bottom: 0;
}

.footnav-right {
    display: table;
    height: 0;
}
    .footnav-right .module {
        border: 1px solid rgba(255,255,255,0.1);
        display: table-cell;
    }
        .footnav-right .module .module-title {
            padding-left: 20px;
            color: #ffffff;
            margin-bottom: 20px;
        }

        .footnav-right .module .module-ct {
            padding: 0 20px 20px;
        }

#contact-us-title span {
    position: relative;
}

    #contact-us-title span:before {
        content: "";
        border-top: 1px solid #67c1f5;
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 0;
        position: absolute;
        left: 0;
        top: -21px;
    }

.contact-us h4 {
    font-size: 14px;
    color: #ffffff;
}


.copyright {
    font-size: 12px;
    padding: 40px 0;
}

.footer-copy {
    width: 66%;
}

    .footer-copy a {
        color: #67c1f5;
    }

        .footer-copy a:hover {
            color: #1fa4f0;
        }

footer small {
    font-size: 100%;
}
/*-----------------------------------
        футер конец
----------------------------------------*/
