@{
    ViewData["Title"] = "Game";
    Layout = "_Layout";
}
<div class="wrap masthead">
    <div class="ja-masthead">
        <div id="masthead-bg" style="background-image: url(../image/masthead.jpg)">
            <div class="container">
                <div class="masthead-detail">
                    <h3 class="masthead-title">
                        new releases
                    </h3>
                    <div class="masthead-desc">
                        kjdfllllllllllll jfdk jkdjfk fjdkfdk murad is gay gay agygy  gay
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mainbody" class="wrap mainbody one-sidebar-left">
    <div class="container">
        <div class="row equal-height">
            <div class="sidebar sidebar-left col col-xs-12 col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
                <div class="module genre-module">
                    <h3 class="module-title">
                        <span>
                            Browse by genre
                        </span>
                    </h3>
                    <div class="module-ct">
                        <ul class="genre-menu">
                            <li>
                                <div>
                                    <a href="">Action</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="">Adventure</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="">Casual</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="">Free To Play</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="">Indie</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="">Massively Multiplayer</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="">Racing</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="">RPG</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="">Simulation</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="">Sport</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="">Strategy</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="module hotgame-module">
                    <h3 class="module-title">
                        <span>
                            Hot game
                        </span>
                    </h3>
                    <div class="module-ct">
                        <div class="spacer">
                            <a href="#" class="feat-prod-img">
                                <img src="~/image/destiny_game.jpg" class="hot-game-img" />
                            </a>
                            <a class="hot-game-title" href="">СУДЬБА БОГОВ</a>
                            <p class="product-desc">
                                Murad is gay gay gay gay gay gay Murad is gay gay gay gay gay ga Murad is gay gay gay gay gay ga
                            </p>
                            <div class="hot-game-link">
                                <a href="" class="btn btn-primary">Product details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content" class="content col col-xs-12 col-sm-8 col-sm-push-4 col-md-9 col-md-push-3" style="padding-top: 58.57142858px;">
                <div class="prdouct-details">
                    <div class="product-container" style="overflow:auto";>
                        <div class="product-media-container">
                            <img src="~/image/destiny_game.jpg" />
                        </div>
                        <div class="product-details-container">
                            <h1>Murad Gay</h1>
                            <div class="spacer-rating">
                                <div class="rating-mini">
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="product-price-block">
                                    <div class="base-price price-block">
                                        <span class="price-desc">
                                            Base price:
                                        </span>
                                        <span class="base-price-val" style="font-size: 18px;">
                                            $44.5
                                        </span>
                                    </div>
                                    <div class="sale-price price-block">
                                        <span class="price-desc">
                                            Sales price:
                                        </span>
                                        <span class="sale-price-val" style="font-size: 18px;">
                                            $44.5
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-short-desc">
                                this gaym is about ummmmm ummmmmmmmmmm ummmm ummmm ummmmm
                            </div>
                            <div class="product-fields">
                                <span class="product-fields-title-wrapper">
                                    Platforms
                                </span>
                                <div class="platforms-field">
                                    <span>
                                        <i class="fa fa-android"></i>
                                        <i class="fa fa-apple"></i>
                                        <i class="fa fa-windows"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="spacer-buy-area">
                                <form method="post" action="#">
                                    <div class="addtocart-bar">
                                        <span class="addtocart-button">
                                            <input type="submit" value="Add to Cart" style="background: linear-gradient(#67c1f5,#41b1f2); border: 1px solid #67c1f5;" />
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="productdetails-tabs">
                        <ul class="nav nav-tabs">
                            <li>
                                <a class="nav-link active" data-toggle="tab" href="#desc">Description</a>
                            </li>
                            <li>
                                <a class="nav-link" data-toggle="tab" href="#review">Reviews</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="desc" class="container tab-pane active">
                                <div class="product-desc">
                                    <p>kjfdsjflsjfls ljflgkfdlfj gjfdlkgjsldf jgjfldksjljg</p>
                                </div>
                            </div>
                            <div id="review" class="container tab-pane fade">
                                <div class="customer-reviews">
                                    <div class="list-reviews">
                                        <div class="normal">
                                            <span class="date">Monanjsy, 21 daevember 2019</span>
                                            <div class="rating-mini">
                                                <span class="active"></span>
                                                <span class="active"></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                            <blockquote>
                                                fljs jldjfgldkjg gldglkj jgflsdkjglfdsjg gjdfklsj
                                            </blockquote>
                                            <span>Harladj Lisuidc</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
