@{
    ViewData["Title"] = "About Us";
    Layout = "_Layout";
}
<div id="mainbody">
    <div class="container">
        <div class="about">
            <img src="~/image/logo.png" />
            <p class="about-header">
                is a perfect platform for gamers and game developers.
            </p>

            <h3>Instant access to games</h3>
            <p>
                Playstore offers about 30 games for every taste, as well as exclusive offers, automatic game updates and other great features.
            </p>
            <i class="fa fa-gamepad"></i>

            <h3>Shopping is as easy as it gets</h3>
            <p>
                Our store supports more than 1 payment methods and 1 currency, so that you can make purchases in the way that is convenient for you.
            </p>
            <i class="fa fa-shopping-cart"></i>

            <h3>Multiple languages</h3>
            <p>
                It is very important for us to create a global community, so there are more than 1 language in the Playstore.
            </p>
            <i class="fa fa-language"></i>
        </div>
    </div>
    <div id="map"></div>

</div>


