@{  
    ViewData["Title"] = "New Releases";
    Layout = "_Layout";
}
<div id="content" class="content col col-xs-12 col-sm-8 col-sm-push-4 col-md-9 col-md-push-3" style="padding-top: 58.57142858px;">
    <div class="blog">
        <div class="item-leading">
            <div class="leading">
                <article class="default">
                    <div class="pull-left item-image">
                        <a href="#">
                            <img src="../image/FableLegend-2.jpg" />
                        </a>
                    </div>
                    <div class="item-content">
                        <section>
                            <h2 class="article-title">
                                <a href="#">
                                    Murad offers new gaym
                                </a>
                            </h2>
                        </section>
                        <aside class="article-aside">
                            <dl class="article-info">
                                <dd class="writtenBy">
                                    <i class="fa fa-user"></i>
                                    <span>Super User</span>
                                </dd>
                                <dd class="published">
                                    <i class="fa fa-calendar"></i>
                                    <time>5 months ago</time>
                                </dd>
                            </dl>
                        </aside>
                        <section class="article-intro">
                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
                            ante. Donec eu libero sit amet quam egestas semper. Mauris placerat eleifend
                            leo. Quisque sit amet est et sapien ullamcorper ...
                        </section>
                        <section class="readmore">
                            <a class="btn btn-primary" href="#">
                                <span>Read More</span>
                            </a>
                        </section>
                    </div>
                </article>
            </div>
        </div>
        <div class="item-leading">
            <div class="leading">
                <article class="default">
                    <div class="pull-left item-image">
                        <a href="#">
                            <img src="../image/FableLegend-2.jpg" />
                        </a>
                    </div>
                    <div class="item-content">
                        <section>
                            <h2 class="article-title">
                                <a href="#">
                                    Murad offers new gaym
                                </a>
                            </h2>
                        </section>
                        <aside class="article-aside">
                            <dl class="article-info">
                                <dd class="writtenBy">
                                    <i class="fa fa-user"></i>
                                    <span>Super User</span>
                                </dd>
                                <dd class="published">
                                    <i class="fa fa-calendar"></i>
                                    <time>5 months ago</time>
                                </dd>
                            </dl>
                        </aside>
                        <section class="article-intro">
                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
                            ante. Donec eu libero sit amet quam egestas semper. Mauris placerat eleifend
                            leo. Quisque sit amet est et sapien ullamcorper ...
                        </section>
                        <section class="readmore">
                            <a class="btn btn-primary" href="#">
                                <span>Read More</span>
                            </a>
                        </section>
                    </div>
                </article>
            </div>
        </div>
        <div class="item-leading">
            <div class="leading">
                <article class="default">
                    <div class="pull-left item-image">
                        <a href="#">
                            <img src="../image/FableLegend-2.jpg" />
                        </a>
                    </div>
                    <div class="item-content">
                        <section>
                            <h2 class="article-title">
                                <a href="#">
                                    Murad offers new gaym
                                </a>
                            </h2>
                        </section>
                        <aside class="article-aside">
                            <dl class="article-info">
                                <dd class="writtenBy">
                                    <i class="fa fa-user"></i>
                                    <span>Super User</span>
                                </dd>
                                <dd class="published">
                                    <i class="fa fa-calendar"></i>
                                    <time>5 months ago</time>
                                </dd>
                            </dl>
                        </aside>
                        <section class="article-intro">
                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
                            ante. Donec eu libero sit amet quam egestas semper. Mauris placerat eleifend
                            leo. Quisque sit amet est et sapien ullamcorper ...
                        </section>
                        <section class="readmore">
                            <a class="btn btn-primary" href="#">
                                <span>Read More</span>
                            </a>
                        </section>
                    </div>
                </article>
            </div>
        </div>
        <div class="item-leading">
            <div class="leading">
                <article class="default">
                    <div class="pull-left item-image">
                        <a href="#">
                            <img src="../image/FableLegend-2.jpg" />
                        </a>
                    </div>
                    <div class="item-content">
                        <section>
                            <h2 class="article-title">
                                <a href="#">
                                    Murad offers new gaym
                                </a>
                            </h2>
                        </section>
                        <aside class="article-aside">
                            <dl class="article-info">
                                <dd class="writtenBy">
                                    <i class="fa fa-user"></i>
                                    <span>Super User</span>
                                </dd>
                                <dd class="published">
                                    <i class="fa fa-calendar"></i>
                                    <time>5 months ago</time>
                                </dd>
                            </dl>
                        </aside>
                        <section class="article-intro">
                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
                            ante. Donec eu libero sit amet quam egestas semper. Mauris placerat eleifend
                            leo. Quisque sit amet est et sapien ullamcorper ...
                        </section>
                        <section class="readmore">
                            <a class="btn btn-primary" href="#">
                                <span>Read More</span>
                            </a>
                        </section>
                    </div>
                </article>
            </div>
        </div>
        <div class="item-leading">
            <div class="leading">
                <article class="default">
                    <div class="pull-left item-image">
                        <a href="#">
                            <img src="../image/FableLegend-2.jpg" />
                        </a>
                    </div>
                    <div class="item-content">
                        <section>
                            <h2 class="article-title">
                                <a href="#">
                                    Murad offers new gaym
                                </a>
                            </h2>
                        </section>
                        <aside class="article-aside">
                            <dl class="article-info">
                                <dd class="writtenBy">
                                    <i class="fa fa-user"></i>
                                    <span>Super User</span>
                                </dd>
                                <dd class="published">
                                    <i class="fa fa-calendar"></i>
                                    <time>5 months ago</time>
                                </dd>
                            </dl>
                        </aside>
                        <section class="article-intro">
                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
                            ante. Donec eu libero sit amet quam egestas semper. Mauris placerat eleifend
                            leo. Quisque sit amet est et sapien ullamcorper ...
                        </section>
                        <section class="readmore">
                            <a class="btn btn-primary" href="#">
                                <span>Read More</span>
                            </a>
                        </section>
                    </div>
                </article>
            </div>
        </div>
        <div class="pagination">
            <ul class="pagination">
                <li>
                    <a href="#">
                        Prev
                    </a>
                </li>
                <li>
                    <a href="#">
                        1
                    </a>
                </li>
                <li>
                    <a href="#">
                        2
                    </a>
                </li>
                <li>
                    <a href="#">
                        3
                    </a>
                </li>
                <li>
                    <a href="#">
                        Next
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>