<!DOCTYPE html>
<html class="homepage">
    <head>
        <title>Playstore</title>
        <link rel="stylesheet" type="text/css" href="css/site.css">
        <script src="script/site.js"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="logo">
                        <div class="logo-image">
                            <a href="index.html">
                                <img class="logo-img" src="image/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="head-right">
                        <div class="head-login">
                            <a href="#"><button class="register-switch">
                                Sign Up
                            </button></a>
                        </div>
                        <!--ДОДЕЛАТЬ-->
                        <div class="head-search">
                            <button class="btn btn-search">
                                <img src="image/search-icon.png" class="search-img">
                            </button>
                            <div class="search">
                                <form action="" class="search-form"></form>
                            </div>
                        </div>
                        <!--ДОДЕЛАТЬ-->
                        <div class="head-cart">
                            <button class="btn btn-cart" type="button">
                                <img class="cart-img" src="image/shopping-cart.png">
                                <p><span class="total-product">0</span></p>
                            </button>
                        </div>
                        <div class="language-switcher">
                            <a href="#">
                                <img src="image/en-flag.jpg" class="en-flag">
                            </a>
                            <a href="#">
                                <img src="image/ru-flag.jpg" class="ru-flag">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <nav id="t3-mainnav" class="wrap navbar navbar-default t3-mainnav">
            <div class="container">
                @RenderBody()
            </div>
        </nav>
    </body>
</html>