<!DOCTYPE html>
<html class="homepage">
    <head>
        <title>Playstore</title>
        <link rel="stylesheet" type="text/css" href="css/site.css">
        <script src="script/site.js"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="logo">
                        <div class="logo-image">
                            <a href="index.html">
                                <img class="logo-img" src="image/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="head-right">
                        <div class="head-login">
                            <a href="#"><button class="register-switch">
                                Sign Up
                            </button></a>
                        </div>
                        <!--ДОДЕЛАТЬ-->
                        <div class="head-search">
                            <button class="btn btn-search">
                                <img src="image/search-icon.png" class="search-img">
                            </button>
                            <div class="search">
                                <form action="" class="search-form"></form>
                            </div>
                        </div>
                        <!--ДОДЕЛАТЬ-->
                        <div class="head-cart">
                            <button class="btn btn-cart" type="button">
                                <img class="cart-img" src="image/shopping-cart.png">
                                <p><span class="total-product">0</span></p>
                            </button>
                        </div>
                        <div class="language-switcher">
                            <a href="#">
                                <img src="image/en-flag.jpg" class="en-flag">
                            </a>
                            <a href="#">
                                <img src="image/ru-flag.jpg" class="ru-flag">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <nav id="t3-mainnav" class="wrap navbar navbar-default t3-mainnav">
            <div class="container">
                @RenderBody()
            </div>
        </nav>
        <footer id="t3-footer" class="wrap t3-foot">
            <div class="container">
                <div class="row equal-height">
                    <div class="col col-sm-12 col-md-9 t3-footnav" style="min-height: 322px" childheight="276">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="t3-spotlight t3-footnav1 row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="t3-module module" id="Mod119">
                                            <ul class="social-list">
                                                <li>
                                                    <a class="youtube">
                                                        <img src="" class="yt-image" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="vk">
                                                        <img src="" class="vk-image" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="instagram">
                                                        <img src="" class="inst-image" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>