@{
    ViewData["Title"] = "Create news";
    Layout = "_Layout";
}
<div class="mainbody">
    <div class="container">
        <div class="row">
            <div class="content col-xs-12" style="padding-top: 58.57142858px;">
                <h3>Add your news</h3>
                <form method="post">
                    <div class="form-group">
                        <label for="InputTitle">Title</label>
                        <input type="text" class="form-control" id="InputTitle" />
                    </div>
                    <div class="form-group">
                        <label for="InputContent">Content</label>
                        <textarea class="form-control" id="InputContent"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="InputImage">Cover</label>
                        <input type="file" class="form-control-file" id="InputImage"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>