@model Article
@{
    ViewData["Title"] = "Create news";
    Layout = "_Layout";
}
<div class="mainbody">
    <div class="container">
        <div class="row">
            <div class="content col-xs-12" style="padding-top: 58.57142858px;">
                <h3>Add your news</h3>
                <form asp-controller="News" asp-action="Create">
                    <div class="form-group">
                        <label asp-for="Name">Title</label>
                        <input asp-for="Name" type="text" class="form-control" id="InputTitle" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Content">Content</label>
                        <textarea asp-for="Content" class="form-control" id="InputContent"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="Picture">Cover</label>
                        <input asp-for="Picture" type="file" class="form-control-file" id="InputImage" />
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>