@{
    ViewData["Title"] = "News";
    Layout = "_Layout";
}

<div class="wrap masthead">
    <div class="ja-masthead">
        <div id="masthead-bg" style="background-image: url(../image/sl-4.jpg)">
            <div class="container">
                <div class="masthead-detail">
                    <h3 class="masthead-title">
                        Murad offers new game
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mainbody" class="wrap mainbody one-sidebar-left">
    <div class="container">
        <div class="row equal-height">
            @await Html.PartialAsync("../Shared/_Sidebar")
            <div id="content" class="content col col-xs-12 col-sm-8 col-sm-push-4 col-md-9 col-md-push-3" style="padding-top: 58.57142858px;">
                <div class="item-page clearfix">
                    <article class="article">
                        <div class="item-main">
                            <div class="item-image">
                                <img src="~/image/FableLegend-2.jpg" />
                            </div>
                            <div class="article-header clearfix">
                                <h1 class="article-title">
                                    Murad offers new game called "Semester work for 1 night"
                                </h1>
                            </div>
                            <section class="article-content clearfix">
                                <p>
                                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. At ut urna convallis lacinia ac libero condimentum penatibus nisl Nullam.

                                    Aenean ultricies mi vitae est. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.

                                    Sagittis euismod lorem sodales consectetuer orci turpis condimentum quis condimentum senectus. At ut urna convallis lacinia ac libero condimentum penatibus nisl Nullam. Pellentesque nec tempus porttitor et iaculis sem Morbi faucibus id nibh. Proin Fusce lacinia Phasellus leo turpis Duis Mauris egestas vitae Pellentesque. Accumsan mus Pellentesque et lacus vitae dui Curabitur et Curabitur interdum. Auctor Phasellus lacinia fringilla euismod augue nibh lorem laoreet habitasse ac. Eleifend platea condimentum.

                                    Tincidunt Quisque elit urna condimentum Aenean tempus wisi Maecenas sem adipiscing. Pretium consequat justo orci Aliquam Curabitur id habitant at lacinia Pellentesque. Nibh ante elit eu iaculis ac lacus urna dolor orci Suspendisse. Praesent Sed sit tellus Aenean nulla consectetuer Aenean volutpat fames Sed. Lorem netus Curabitur Pellentesque eu nibh mi a pellentesque et Vestibulum. Purus.
                                </p>
                            </section>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>