@{
    ViewData["Title"] = "My profile";
    Layout = "_Layout";
}
<div class="wrap masthead">
    <div class="ja-masthead">
        <div id="masthead-bg" style="background-image: url(../image/masthead.jpg)">
            <div class="container">
                <div class="masthead-detail">
                    <h3 class="masthead-title">
                        new releases
                    </h3>
                    <div class="masthead-desc">
                        kjdfllllllllllll jfdk jkdjfk fjdkfdk murad is gay gay agygy  gay
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mainbody" class="wrap mainbody one-sidebar-left profile">
    <div class="container">
        <div class="row equal-height">
            <div class="sidebar sidebar-left col col-xs-12 col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9" style="padding-top: 58.57142858px;">
                <div class="module avatar-module">
                    <img src="~/image/ava-example.jpg" />
                    <button class="btn btn-primary">Edit profile</button>
                </div>
            </div>
            <div id="content" class="content col col-xs-12 col-sm-8 col-sm-push-4 col-md-9 col-md-push-3" style="padding-top: 58.57142858px;">
                <div class="module module-content">
                    <div class="user-info">
                        <div class="username">
                            <h1>username</h1>
                        </div>
                        <div class="email">
                            <span>Email:</span>
                            <p>koksukin@puk.cum</p>
                        </div>
                        <div class="gender">
                            <span>Gender:</span>
                            <p>genderfluid</p>
                        </div>
                        <div class="city">
                            <span>City:</span>
                            <p>Kushnarenkovo</p>
                        </div>
                        <div class="country">
                            <span>Country:</span>
                            <p>Ressia</p>
                        </div>
                        <div class="date-created">
                            <span>Date created:</span>
                            <p>June 56</p>
                        </div>
                    </div>
                    <div class="fav-game">
                        <h3 class="module-title">
                            <span>
                                Favorite Game
                            </span>
                        </h3>
                        <div class="module-ct">
                            <div class="spacer">
                                <a href="#" class="feat-prod-img">
                                    <img src="~/image/destiny_game.jpg" class="hot-game-img" />
                                </a>
                                <a class="hot-game-title" href="">СУДЬБА БОГОВ</a>
                                <p class="product-desc">
                                    Murad is gay gay gay gay gay gay Murad is gay gay gay gay gay ga Murad is gay gay gay gay gay ga
                                </p>
                                <div class="hot-game-link">
                                    <a href="" class="btn btn-primary">Product details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="module module-views">

                </div>
            </div>
        </div>
    </div>
</div>
