@{
    ViewData["Title"] = "Sign Up";
    Layout = "_Layout";
}
<div class="wrap masthead">
    <div class="ja-masthead">
        <div id="masthead-bg" style="background-image: url(../image/masthead.jpg)">
            <div class="container">
                <div class="masthead-detail">
                    <h3 class="masthead-title">
                        new releases
                    </h3>
                    <div class="masthead-desc">
                        kjdfllllllllllll jfdk jkdjfk fjdkfdk murad is gay gay agygy  gay
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainbody">
    <div class="container">
        <div class="row">
            <div class="content col-xs-12">
                <div class="login-wrap">
                    <div class="page-header">
                        <h1>
                            <span>join with us</span>
                        </h1>
                    </div>
                    <div class="login">
                        <form action="#" class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <div class="control-label col-sm-12">
                                        <label>
                                            Username
                                        </label>
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="text" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 control-label">
                                        <label>
                                            Password
                                        </label>
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 btn-wrap">
                                        <button type="submit" class="btn btn-primary">Log in</button>
                                    </div>
                                </div>
                                <div class="other-links form-group">
                                    <div class="col-sm-12">
                                        <a href="#">Don't have an account?</a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
