@{
    ViewData["Title"] = "Sign Up";
    Layout = "_Layout";
}
<div class="mainbody">
    <div class="container">
        <div class="row">
            <div class="content col-xs-12">
                <div class="login-wrap">
                    <div class="page-header">
                        <h1>join with us</h1>
                    </div>
                    <div class="login">
                        <form action="#" class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <div class="control-label">Username</div>
                                    <div class="controls">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label">Password</div>
                                    <div class="controls">
                                        <input type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 btn-wrap">
                                        <button type="submit" class="btn btn-primary">Log in</button>
                                    </div>
                                </div>
                                <div class="other-links form-group">
                                    <div class="col-sm-12">
                                        <a href="#">Don't have an account?</a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
