
@{
    ViewData["Title"] = "Sign Up";
    Layout = "_Layout";
}
<div class="wrap t3-masthead">
    <div class="masthead">
        <div class="masthead-bg">
            <div class="container">
                <div class="masthead-detail">
                    <h3 class="masthead-title">Gaym</h3>
                    <div class="masthead-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainbody">
    <div class="container">
        <div class="row">
            <div class="content col-xs-12">
                <div class="registration">
                    <form id="member-registration" class="form-validate form-vertical">
                        <fieldset>
                            <legend>User Registration</legend>

                        </fieldset>
                        <div class="form-group">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>