
@{
    ViewData["Title"] = "Sign Up";
    Layout = "_Layout";
}
<div class="mainbody">
    <div class="container">
        <div class="row">
            <div class="content col-xs-12">
                <div class="registration">
                    <form id="member-registration" class="form-validate form-vertical">
                        <fieldset>
                            <legend>User Registration</legend>
                            <div class="control-group">
                                <div class="control-label">
                                    <strong class="red">*</strong>
                                    Required field
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label">
                                    Username
                                    <strong class="red">*</strong>
                                </div>
                                <div class="controls">
                                    <input type="text" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label">
                                    Email
                                    <strong class="red">*</strong>
                                </div>
                                <div class="controls">
                                    <input type="email" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label">
                                    Gender
                                    <strong class="red">*</strong>
                                </div>
                                <div class="controls">
                                    <select required>
                                        <option>CisPerson</option>
                                        <option>TransPerson</option>
                                        <option>NonBinaryPerson</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label">
                                    Country
                                </div>
                                <div class="controls">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label">
                                    City
                                </div>
                                <div class="controls">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label">
                                    Password
                                    <strong class="red">*</strong>
                                </div>
                                <div class="controls">
                                    <input type="password" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label">
                                    Repeat Password
                                    <strong class="red">*</strong>
                                </div>
                                <div class="controls">
                                    <input type="password" required>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group form-actions">
                            <button type="submit" class="btn btn-primary">Register</button>
                            <a class="btn btn-default cancel" href="#">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>