@{
    ViewData["Title"] = "Shop";
    Layout = "_Layout";
}
<div class="wrap masthead">
    <div class="ja-masthead">
        <div id="masthead-bg" style="background-image: url(../image/masthead.jpg)">
            <div class="container">
                <div class="masthead-detail">
                    <h3 class="masthead-title">
                        Cart
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mainbody" class="wrap mainbody">
    <div class="container">
        <div class="row">
            <div id="content" class="content col-xs-12" style="padding-top: 58.57142858px;">
                <fieldset class="fieldset-pricelist">
                    <table class="cart-summary" cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody>
                            <tr>
                                <td class="cart-item-name">
                                    <span class="cart-image">
                                        <img src="~/image/assassins_creed_chronicles.jpg" />
                                    </span>
                                    <a href="#">Murad Game</a>
                                </td>
                                <td class="cart-item-price">
                                    <span>59,99$</span>
                                </td>
                                <td class="cart-item-delete">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart-item-name">
                                    <span class="cart-image">
                                        <img src="~/image/assassins_creed_chronicles.jpg" />
                                    </span>
                                    <a href="#">Murad Game</a>
                                </td>
                                <td class="cart-item-price">
                                    <span>59,99$</span>
                                </td>
                                <td class="cart-item-delete">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
                <div class="total-price-block">
                    <div class="cart-total">
                        <h3>
                            Total:
                            <span>59,99$</span>
                        </h3>
                    </div>
                    <div class="payment">
                        <a class="btn btn-primary" href="">Go to pay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
