@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Layout";
}
<div class="mainbody">
    <div class="container">
        <div class="row">
            <div class="content col-xs-12" style="padding-top: 58.57142858px;">
                <p>For password reset check your email box</p>
            </div>
        </div>
    </div>
</div>