@model TestStore.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password?";
    Layout = "_Layout";
}
<div class="mainbody">
    <div class="container">
        <div class="row">
            <div class="content col-xs-12" style="padding-top: 58.57142858px;">
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                    <h4>Enter your e-mail</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>