@model TestStore.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Sign In";
    Layout = "_Layout";
}
<div class="wrap masthead">
    <div class="ja-masthead">
        <div id="masthead-bg" style="background-image: url(../image/masthead.jpg)">
            <div class="container">
                <div class="masthead-detail">
                    <h3 class="masthead-title">
                        Login
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainbody">
    <div class="container">
        <div class="row">
            <div class="content col-xs-12" style="padding-top: 58.57142858px;">
                <div class="login-wrap">
                    <div class="page-header">
                        <h1>
                            <span>join with us</span>
                        </h1>
                    </div>
                    <div class="login">
                        <form method="post" asp-controller="Account" asp-action="Login"
                              asp-route-returnUrl="@Model.ReturnUrl" class="form-horizontal">
                            <div asp-validation-summary="ModelOnly"></div>
                            <fieldset>
                                <div class="form-group">
                                    <div class="control-label col-sm-12">
                                        <label asp-for="UserName">
                                            Username
                                        </label>
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="text" asp-for="UserName" required>
                                        <span asp-validation-for="UserName"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 control-label">
                                        <label asp-for="Password">
                                            Password
                                        </label>
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="password" asp-for="Password" required>
                                        <span asp-validation-for="Password"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label asp-for="RememberMe">
                                                <input type="checkbox" asp-for="RememberMe">Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary">Log in</button>
                                    </div>
                                    <div class="col-sm-12 btn-wrap">
                                        <a class="btn btn-outline-dark" asp-controller="Account" asp-action="GoogleLogin" role="button" style="text-transform:none; background-color:#ffffff;">
                                            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                            Login with Google
                                        </a>
                                    </div>
                                </div>
                                <div class="other-links form-group">
                                    <div class="col-sm-12">
                                        <a asp-controller="Account" asp-action="Register">Don't have an account?</a>
                                        <a asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
