@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_homepage";
}
<div id="content" class="content col col-xs-12 col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
    <div class="featured-view">
        <h4><span>Featured Products</span></h4>
        <div class="row equal-height equal-height-child">
            <div class="product vm-col vm-col-3 vertical-separator col">
                <div class="spacer" style="min-height: 505px;">
                    <div class="vm-product-media-container">
                        <a title="" href="#">
                            <img class="browseProductImage" src="../image/assassins_creed_chronicles.jpg" />
                        </a>
                    </div>
                    <div class="vm-product-descr-container">
                        <h2>
                            <a href="#">Dickdickin's Creed Chronicles</a>
                        </h2>
                        <div class="platforms-field">
                            <span>
                                <i class="fa fa-android"></i>
                                <i class="fa fa-apple"></i>
                                <i class="fa fa-windows"></i>
                            </span>
                        </div>
                        <p class="product-desc">
                            Murad is gay gay gay gay gay gay
                        </p>
                    </div>
                    <div class="product-price-block">
                        <div class="base-price price-block">
                            <span class="price-desc">
                                Base price:
                            </span>
                            <span class="base-price-val">
                                $44.5
                            </span>
                        </div>
                        <div class="sale-price price-block">
                            <span class="price-desc">
                                Sales price:
                            </span>
                            <span class="sale-price-val">
                                $44.5
                            </span>
                        </div>
                    </div>
                    <div class="addtocart-block">
                        <form method="post">
                            <div class="addtocart-bar">
                                <span class="addtocart-button">
                                    <input type="submit" value="Add to Cart" />
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product vm-col vm-col-3 vertical-separator col">
                <div class="spacer" style="min-height: 505px;">
                    <div class="vm-product-media-container">
                        <a title="" href="#">
                            <img class="browseProductImage" src="../image/assassins_creed_chronicles.jpg" />
                        </a>
                    </div>
                    <div class="vm-product-descr-container">
                        <h2>
                            <a href="#">Dickdickin's Creed Chronicles</a>
                        </h2>
                        <div class="platforms-field">
                            <span>
                                <i class="fa fa-android"></i>
                                <i class="fa fa-apple"></i>
                                <i class="fa fa-windows"></i>
                            </span>
                        </div>
                        <p class="product-desc">
                            Murad is gay gay gay gay gay gay
                        </p>
                    </div>
                    <div class="product-price-block">
                        <div class="base-price price-block">
                            <span class="price-desc">
                                Base price:
                            </span>
                            <span class="base-price-val">
                                $44.5
                            </span>
                        </div>
                        <div class="sale-price price-block">
                            <span class="price-desc">
                                Sales price:
                            </span>
                            <span class="sale-price-val">
                                $44.5
                            </span>
                        </div>
                    </div>
                    <div class="addtocart-block">
                        <form method="post">
                            <div class="addtocart-bar">
                                <span class="addtocart-button">
                                    <input type="submit" value="Add to Cart" />
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product vm-col vm-col-3 vertical-separator col">
                <div class="spacer" style="min-height: 505px;">
                    <div class="vm-product-media-container">
                        <a title="" href="#">
                            <img class="browseProductImage" src="../image/assassins_creed_chronicles.jpg" />
                        </a>
                    </div>
                    <div class="vm-product-descr-container">
                        <h2>
                            <a href="#">Dickdickin's Creed Chronicles</a>
                        </h2>
                        <div class="platforms-field">
                            <span>
                                <i class="fa fa-android"></i>
                                <i class="fa fa-apple"></i>
                                <i class="fa fa-windows"></i>
                            </span>
                        </div>
                        <p class="product-desc">
                            Murad is gay gay gay gay gay gay
                        </p>
                    </div>
                    <div class="product-price-block">
                        <div class="base-price price-block">
                            <span class="price-desc">
                                Base price:
                            </span>
                            <span class="base-price-val">
                                $44.5
                            </span>
                        </div>
                        <div class="sale-price price-block">
                            <span class="price-desc">
                                Sales price:
                            </span>
                            <span class="sale-price-val">
                                $44.5
                            </span>
                        </div>
                    </div>
                    <div class="addtocart-block">
                        <form method="post">
                            <div class="addtocart-bar">
                                <span class="addtocart-button">
                                    <input type="submit" value="Add to Cart" />
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="horizontal-separator"></div>
        <div class="row equal-height equal-height-child">
            <div class="product vm-col vm-col-3 vertical-separator col">
                <div class="spacer" style="min-height: 505px;">
                    <div class="vm-product-media-container">
                        <a title="" href="#">
                            <img class="browseProductImage" src="../image/assassins_creed_chronicles.jpg" />
                        </a>
                    </div>
                    <div class="vm-product-descr-container">
                        <h2>
                            <a href="#">Dickdickin's Creed Chronicles</a>
                        </h2>
                        <div class="platforms-field">
                            <span>
                                <i class="fa fa-android"></i>
                                <i class="fa fa-apple"></i>
                                <i class="fa fa-windows"></i>
                            </span>
                        </div>
                        <p class="product-desc">
                            Murad is gay gay gay gay gay gay
                        </p>
                    </div>
                    <div class="product-price-block">
                        <div class="base-price price-block">
                            <span class="price-desc">
                                Base price:
                            </span>
                            <span class="base-price-val">
                                $44.5
                            </span>
                        </div>
                        <div class="sale-price price-block">
                            <span class="price-desc">
                                Sales price:
                            </span>
                            <span class="sale-price-val">
                                $44.5
                            </span>
                        </div>
                    </div>
                    <div class="addtocart-block">
                        <form method="post">
                            <div class="addtocart-bar">
                                <span class="addtocart-button">
                                    <input type="submit" value="Add to Cart" />
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product vm-col vm-col-3 vertical-separator col">
                <div class="spacer" style="min-height: 505px;">
                    <div class="vm-product-media-container">
                        <a title="" href="#">
                            <img class="browseProductImage" src="../image/assassins_creed_chronicles.jpg" />
                        </a>
                    </div>
                    <div class="vm-product-descr-container">
                        <h2>
                            <a href="#">Dickdickin's Creed Chronicles</a>
                        </h2>
                        <div class="platforms-field">
                            <span>
                                <i class="fa fa-android"></i>
                                <i class="fa fa-apple"></i>
                                <i class="fa fa-windows"></i>
                            </span>
                        </div>
                        <p class="product-desc">
                            Murad is gay gay gay gay gay gay
                        </p>
                    </div>
                    <div class="product-price-block">
                        <div class="base-price price-block">
                            <span class="price-desc">
                                Base price:
                            </span>
                            <span class="base-price-val">
                                $44.5
                            </span>
                        </div>
                        <div class="sale-price price-block">
                            <span class="price-desc">
                                Sales price:
                            </span>
                            <span class="sale-price-val">
                                $44.5
                            </span>
                        </div>
                    </div>
                    <div class="addtocart-block">
                        <form method="post">
                            <div class="addtocart-bar">
                                <span class="addtocart-button">
                                    <input type="submit" value="Add to Cart" />
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product vm-col vm-col-3 vertical-separator col">
                <div class="spacer" style="min-height: 505px;">
                    <div class="vm-product-media-container">
                        <a title="" href="#">
                            <img class="browseProductImage" src="../image/assassins_creed_chronicles.jpg" />
                        </a>
                    </div>
                    <div class="vm-product-descr-container">
                        <h2>
                            <a href="#">Dickdickin's Creed Chronicles</a>
                        </h2>
                        <div class="platforms-field">
                            <span>
                                <i class="fa fa-android"></i>
                                <i class="fa fa-apple"></i>
                                <i class="fa fa-windows"></i>
                            </span>
                        </div>
                        <p class="product-desc">
                            Murad is gay gay gay gay gay gay
                        </p>
                    </div>
                    <div class="product-price-block">
                        <div class="base-price price-block">
                            <span class="price-desc">
                                Base price:
                            </span>
                            <span class="base-price-val">
                                $44.5
                            </span>
                        </div>
                        <div class="sale-price price-block">
                            <span class="price-desc">
                                Sales price:
                            </span>
                            <span class="sale-price-val">
                                $44.5
                            </span>
                        </div>
                    </div>
                    <div class="addtocart-block">
                        <form method="post">
                            <div class="addtocart-bar">
                                <span class="addtocart-button">
                                    <input type="submit" value="Add to Cart" />
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            