@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">здесь должна быть та самая главная страница</h1>
    <p>Learn about <a href="https://wikipedia.org/wiki/Cock_and_ball_torture">building Web apps with ASP.NET Core</a>.</p>
</div>
