@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="slideshow">
    <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-wrapper">
            <div class="owl-item">
                <div class="item">
                    <div class="img-header-top" style="background-image: url(../image/sl-1.jpg);"></div>
                    <div class="img-header" style="background-image: url(../image/sl-1.jpg);"></div>
                </div>
            </div>
            <div class="owl-item">
                <div class="item">
                    <div class="img-header-top" style="background-image: url(../image/sl-2.jpg);"></div>
                    <div class="img-header" style="background-image: url(../image/sl-2.jpg);"></div>
                </div>
            </div>
            <div class="owl-item">
                <div class="item">
                    <div class="img-header-top" style="background-image: url(../image/sl-3.jpg);"></div>
                    <div class="img-header" style="background-image: url(../image/sl-3.jpg);"></div>
                </div>
            </div>
            <div class="owl-item">
                <div class="item">
                    <div class="img-header-top" style="background-image: url(../image/sl-4.jpg);"></div>
                    <div class="img-header" style="background-image: url(../image/sl-4.jpg);"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainbody">
    <div class="container">

    </div>
</div>
