@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="slideshow">
    <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="item">
            <div class="img-header-top" style="background-image: url(../image/sl-1.jpg);"></div>
            <div class="img-header" style="background-image: url(../image/sl-1.jpg);"></div>
            <div class="slider-content container row">
                <div class="slider-thumb col-sm-4">
                    <img src="~/image/sl-thumb-1.jpg" />
                </div>
                <div class="col-sm-8">
                    <h1 class="item-title">murad is gay gay gay gay gay gay gay and cal</h1>
                    <a class="btn btn-primary" href="#">Learn More</a>
                </div>
            </div>
            <div class="img-header-bottom" style="background-image: url(../image/sl-1.jpg);"></div>
            <div class="img-header-bottom-mask"></div>
        </div>
        <div class="item">
            <div class="img-header-top" style="background-image: url(../image/sl-2.jpg);"></div>
            <div class="img-header" style="background-image: url(../image/sl-2.jpg);"></div>
            <div class="slider-content container row">

            </div>
            <div class="img-header-bottom" style="background-image: url(../image/sl-2.jpg);"></div>
            <div class="img-header-bottom-mask"></div>
        </div>
        <div class="item">
            <div class="img-header-top" style="background-image: url(../image/sl-3.jpg);"></div>
            <div class="img-header" style="background-image: url(../image/sl-3.jpg);"></div>
            <div class="slider-content container row">

            </div>
            <div class="img-header-bottom" style="background-image: url(../image/sl-3.jpg);"></div>
            <div class="img-header-bottom-mask"></div>
        </div>
        <div class="item">
            <div class="img-header-top" style="background-image: url(../image/sl-4.jpg);"></div>
            <div class="img-header" style="background-image: url(../image/sl-4.jpg);"></div>
            <div class="slider-content container row">

            </div>
            <div class="img-header-bottom" style="background-image: url(../image/sl-4.jpg);"></div>
            <div class="img-header-bottom-mask"></div>
        </div>
    </div>
</div>
<div class="mainbody">

</div>